


  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  
  * {
    scrollbar-color: #5a5a5a #1a1a1a;
  }
  
  
body{
    background-color: black;
}
p,a{
    grid-area: TXT;

    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 300;

    color: white;
}
a {
   
    color: rgb(123, 36, 223);

}
h1 {
    grid-area: TIT;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 6vh;
    color: white;
    
}
.subtitulo{
    font-size: 4vh;
}
.minititulo{
    font-size: 3vh;
}
.minitexto{
    font-family: "Chillax";
    font-weight: 500;
    font-size: 2.5vh;
    grid-area: MIN;
    display: flex;
    justify-content: baseline;
    color: white;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: white; }  
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: white; }
input::-moz-placeholder, textarea::-moz-placeholder { color: white; } 
input, textarea, option, select{
    padding: 0;
    margin: 0;
    resize: none;
    border: 0.05vh white solid;
    background-color: black;
    font-family: "Chillax";
    font-weight: 500;
    font-size: 2.5vh;
    grid-area: MIN;
    display: flex;
    justify-content: baseline;
    color: white;
}
input[type="search"]::-webkit-search-cancel-button {
    filter: grayscale(100%) brightness(1000%);
}


#rayas{
    display: none;
}
#sidebar{
    display: none;
}
#sidebar .link{
    width: 100%;
}
.links{
    padding-right: 5vh;
    grid-area: LINK;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: right;
    align-items: center;
}
.logo{
    grid-area: LOGO;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#nosotros{
    opacity: 0%;
    pointer-events: none;
}
.link{
    background-color: transparent;
    border: none;
    text-decoration: none;
    margin: 0;
    font-family: "Chillax";
    font-weight: 500;
    font-size: 2vh;
    grid-area: MIN;
    display: flex;
    justify-content: baseline;
    color: white;
}
 .indicadores { 
    display: flex; 
    justify-content: center; 
    width: max-content;
    height: max-content;
    padding: 3vh;
    grid-area: IND; 
    gap: 2vh;
}
.indicador { 
    width: 1.5vh; 
    height: 1.5vh; 
    background-color: rgba(255, 255, 255, 0.219); 
    border-radius: 20vh; 
    cursor: pointer; 
}
.activo { 
    background-color: rgba(255, 255, 255, 0.685); 
}
button, a{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
#links .link{
    transition:  opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

}
 #links .link:hover{
    transform: scale(1.1);
}
.imagen{
    pointer-events: none;
    position: absolute;
    background-image: url(recursos/img/a1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
}
.filtro {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.397), transparent); 
}
.textos {
    pointer-events: none;

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template: 
    ". . . ."25vh
    ". MIN . ."max-content
    ". TIT . ."max-content
    ". TXT TXT ." max-content
    ". . . ."auto/
    10vw 80vh 15% auto;
}
.textos p {
    font-size: 3vh;
    margin: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0%;
    transform: translateY(5vh);
   
}
.textos h1{
    margin: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0%;
    transform: translateY(5vh);
}

    
.boton-control{
    width: 10vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.685);
    font-size: 5vh;
}
.controles {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template:
    ". . . . ." auto
    "BIZ . . . BDE" max-content
    ". . . . ." auto
    ". . IND . ."max-content/
    max-content auto max-content auto max-content;
}
#botonizquierdo{
    grid-area: BIZ;
}
#botonderecho{
    grid-area: BDE;
}
.imagenes{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}
#main{
 
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
    left: 0%;
    top: 0%;
    display: grid;
    grid-template:
    "CAR  " max-content
    "SER  " max-content
    "PRO  " max-content
    "MAR  " max-content
    "PRS  " max-content
    "VID  " max-content
    "CON  " max-content
    "FOO  " max-content
    "AGUA  " max-content/
    auto  ;
}

#footer{
    min-height: 50vh;
}
#header{
    transition: all 0.5s ease-in-out;
    transition-property: width, height;
    transition-duration: 0s;
    z-index: 100;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0%;
    top: 0%;
    display: grid;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    grid-template:
    "LOGO . LINK" auto/
    15vh auto auto ;
}
.hidden{
    background-color: transparent;
    -webkit-backdrop-filter: blur(5vh);
    backdrop-filter: blur(5vh);
}
.visible{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.397), transparent); ;

}
.logo{
grid-area: LOGO;
background-image: url();
}
#carrusel{
    min-height: 90vh;
    overflow: hidden;
    max-height: 90vh ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    grid-area: CAR;
}
.fondonegro{
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#servicios{
    min-height: 90vh;
    overflow: hidden;
    background-size: 180vh;
    background-position: -15vh -15vh;
    grid-area: SER;
    display: grid;
    grid-template: 
    ". . ."auto
    ". MIN ." max-content
    ". TIT ." max-content
    ". SERV SERV " 60vh
    ". BOT . " auto 
    ". . . " auto /
    auto 80vh auto ;
}

.listaservicios{
    gap: 3vh;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 1vh;
    padding-bottom: 1vh;
    grid-area: SERV;
    display: flex;
    position: relative;
}
.listaproductos{
    gap: 3vh;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 1vh;
    padding-bottom: 1vh;
    grid-area: SERV;
    display: flex;
    position: relative;
}
.servicio{
    cursor: default;
    transition: background-size 0.3s ease;
    position: relative;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    width: 50vh;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.116);
    grid-template: 
    "TIT" max-content
    "TXT" auto/
    45vh ;

}
.producto{
    cursor: default;
    transition: background-size 0.3s ease;
    position: relative;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    width: 50vh;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.116);
    grid-template: 
    "TXT" 50vh
    "TIT" auto/
    50vh ;

}
.producto h1{
    text-overflow: ellipsis;
    background-color: black;
    border: 0.05vh solid white;
    padding: 1vh;
}
.producto p{
    padding: 1vh;
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;

}
.producto:hover {
    background-size: auto 110%;
}
.producto:hover p{
    opacity: 100%;
}
.producto .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;

}
.producto:hover .blur{
    backdrop-filter: blur(0.5vh);
    -webkit-backdrop-filter: blur(0.5vh);
}
.botonegro{
    background-color: black;
    border: 0.05vh solid white;
    grid-area: BOT;
    width: max-content;
    padding: 1vh;
    height: max-content;
    font-family: "Chillax";
    font-weight: 400;
    font-size: 2vh;
    display: flex;
    justify-content: baseline;
    color: white;
}
.servicio:hover {
    background-size: auto 110%;
}
.servicio:hover p{
    opacity: 100%;
}

.servicio:hover .blur{
    backdrop-filter: blur(0.5vh);
    -webkit-backdrop-filter: blur(0.5vh);
}
.servicio h1{
    padding: 1vh;
    z-index: 2;
}
.servicio .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.397), transparent); 

}
.servicio p{
    z-index: 2;
    padding: 1vh;
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;

}
#producto{
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: black;
    grid-area: PRO;
    display: grid;
    grid-template: 
    ". . ."auto
    ". MIN ." max-content
    ". TIT ." max-content
    ". TXT . " max-content
    ". . . " 1vh
    ". BOT . " auto 
    ". . . " auto /
    auto 70vh 5vw  ;
}

#producto p{
    padding: 1vh;
    border: 0.05vh solid white;
}
#productos{
    min-height: 90vh;
    background-size: 190vh;
    background-position: -15vh -15vh;
    grid-area: PRS;
    display: grid;
    grid-template: 
    ". . ."auto
    ". MIN ." max-content
    ". TIT ." max-content
    ". SERV SERV " 60vh
    ". BOT . " auto 
    ". . . " auto /
    auto 80vh auto ;
}


#video{
    min-height: 90vh;

    background-color: black;
    grid-area: VID;
}

#contacto{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    grid-area: CON;
    display: grid;
    grid-template: 
    ". .  ."auto
    ". MIN  ." max-content
    ". TIT  ." max-content
    ". FORM  . " max-content
 
    ". BOT  . " auto 
    ". . .  " auto /
    auto 80vh auto ;
}
.inputs{
 grid-area: FORM;
 position: relative;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
.inputs input,.inputs  select,.inputs  option{
    margin-bottom: 1vh;
    width: 100%;
    padding: 1vh;
    height: auto;
}
.inputs  textarea{
    margin-bottom: 1vh;
    padding: 1vh;
    width: 100%;
    height: 30vh;
}  
.g-recaptcha {
    transform: scale(0.8); 
    grid-area: CAPT;
    max-width: 80vh;
    max-height: 50vh;
    overflow: hidden;
}
#marcas{
    overflow: hidden;
    max-height: 25vh;
    min-height: 25vh;
    background-color: black;
    position: relative;
    grid-area: MAR;
    min-height: 20vh;
   
    padding-left: 5vh;
}
#footer{
    background-size: 200vh;
    background-position: 50% 40vh;
    grid-area: FOO;
    display: grid;
    padding: 2vh;
    gap: 2vh;
    grid-template: 
    "LOGO ." auto
    "INFO INFO" auto/
    max-content auto;
    
}
#marcadeagua{
    min-height: 5vh;
    grid-area: AGUA;
    background-color: black;
    font-family: "Roboto", serif;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.informacion{
    grid-area: INFO;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;

}
.cuadro {
    position: relative;
    padding-top: 5vh;
    background-color: black;
    border: 0.005vh white solid;
    width: 40vh;
    min-height: 30vh;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.cuadro .minititulo{
    position: absolute;
    top: 1vh;
    left: 5%;
    width: 90%;
    height: 10vh;
}
.correo{
width: 100%;
height: 5vh;
display: flex;
align-items: center;
padding-left: 6.5vh;
background-position: 2vh;
background-size: 4vh;
background-repeat: no-repeat;
}
.cuadro a{
 color: white
}
.marca{
   background-position: center;
   background-size: 25vh;
   background-repeat: no-repeat;
   position: absolute;
   right: -30vh;
    min-width: 30vh;
    height: 100%;
}

@keyframes animarca {
    0%{
        right: -30vh;
    }
    100%{
        right: 250vh;
    }
}
.logoyredes{
    position: relative;
    grid-area: LOGO;
    display: grid;
    width: 15vh;
    height: max-content;
    grid-template:
    "." 7vh
    "REDE " max-content/
    15vh ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.listaredes{
grid-area: REDE;
 display: flex;
 position: relative;
 flex-wrap: wrap;
 gap: 1vh;
}
.red{
    width: 3vh;
    height: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}